#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1e6cc7 url('https://i2.wp.com/codemyui.com/wp-content/uploads/2015/11/pure-css-bookshelf-loading-animation.gif?fit=880%2C440&ssl=1') no-repeat center;
  z-index: 999;
}

.input-box {
  border: none;
  border-bottom: 1.5px solid rgba(168, 154, 154, 0.322);
  border-radius: 0px;
  transition: none;
  width: 100%;
  padding-bottom: 2px;
}
.input-box:focus {
  outline: none;
  border-bottom: 1.5px solid yellowgreen;
  /* zoom: 1.1; */
  transform: scaleY(1.05);
}
.input-box {
  transition: border 0.5s ease-out;
  /* transition: transform 0.5s ease-out; */
}
.btn {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #5282d4;
  background-image: -webkit-linear-gradient(top, #5282d4, #28667d);
  background-image: -moz-linear-gradient(top, #5282d4, #28667d);
  background-image: -ms-linear-gradient(top, #5282d4, #28667d);
  background-image: -o-linear-gradient(top, #5282d4, #28667d);
  background-image: linear-gradient(to bottom, #5282d4, #28667d);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 2rem;
}

.btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent;
}

.btn:hover:before {
    opacity: 1;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5282d4;
  background-image: -webkit-linear-gradient(top, #5282d4, #28667d);
  background-image: -moz-linear-gradient(top, #5282d4, #28667d);
  background-image: -ms-linear-gradient(top, #5282d4, #28667d);
  background-image: -o-linear-gradient(top, #5282d4, #28667d);
  background-image: linear-gradient(to bottom, #5282d4, #28667d);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.space {
  margin-top: 10px;
}
footer {
  position: relative;
  width: 100%;
  height: 190px;
  background-color:grey;
  color: white;
  padding-bottom: 4rem;
  box-sizing: border-box;
  display: flex;
  font-size: "Poppins";
}
.footer{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:0 auto;
  margin-top: 0.5rem;
  padding-left: 0.5rem;


}

.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  
}
.footer-heading h2{
  margin-bottom: 1rem;
}
.footer-heading a{
  margin-bottom: 0.1rem;
  color: #000;
}
.footer-heading a:hover{
  color: #00ffd5;
  transition: 0.3s ease-out;
}
.box-area{
  display: -webkit-flex;
  display: -moz-flex;
  display: -os-flex;
  display:-ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  list-style: none;
}
.box li{
  cursor: pointer;
  transition: color 0.2s ease;
  color: #696969;
  display: inline-block;
  margin: 0 10px;
  padding:2px;
  border:2px solid rgb(255,255,255,0.3);
  box-shadow: 4px 4px 6px 0 rgb(0,0,0,0.1s),
              -4px -4px 6px #fff;
  

}
#footer-email{
  width: 230px;
  border-radius:6px;
  box-shadow: -3px -3px 3px rgba(255,255,255,),
  3px 3px 3px rgba(0,0,0,0.1);
  
}
#footer-email-btn{
  border: none;
  outline: invert;
  background-color: #fff;
  border-radius: 5px;

}
#footer-email-btn:hover{
  cursor:pointer;
  background-color: skyblue;
  transition: all 0.4s ease-out;

}
.read{
  height: 25vh;
}
/*  */
.icons ul {
  display: flex;
  margin-top: 1px !important;
  padding-left: 0px;
  padding-top: 0.2px;
  
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  margin-top: 0px;
}

.icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #55acee;
  transition: 0.5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(2) a:before {
  background: black;
}
/* CopyRights */
.icons ul p {
  position: absolute;
  left: 40%;
  top: 20px;
}

.logo-img{
  margin-left: 40px;
  height: 45px;
  width: 80px;
}

@media only screen and (max-width: 500px) {
  .icons ul p {
    position: absolute;
    left: 50%;
    top: 20px;
  }
}
